<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron">
        <h1 class="display-4, text-center">Mars</h1>
        <p class="lead, text-center">Are We There Yet?</p>
        <hr class="my-4">
        <p class = "text-center">Get the Latest News and Images from Mars</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Reload Now</a>
        </p>
      </div>

  </div>
</body>

</html>